*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E2DBD5 !important;
}

a:hover, i:hover {
  color: #98473E !important;
  font-weight: bolder;
  cursor: pointer;
}