.welcome-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.welcome-display {
  width: 80%;
  margin: auto;
  padding-top: 100vh;
}

.figure-photo {
position: absolute;
top: 0;
margin: auto;
width: contain;
height: 100vh;
z-index: -1;
}