.album-display {
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
  background-color:rgb(239, 235, 228);
}

.album-grid {
  display: inline-flex;
}

.album-item {
  width: 100%;
  text-align: center;
}