

p {
  text-align: center;
}

#welcome-image {
  width: 100%;
  max-height: 65vh;
  margin: 10% auto;
}

#photographer-photo {
  width: 15rem;
  margin: 3% 0 ;
}

.about-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #090909;
  padding: 5px 10px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
  border-radius: 15px !important;
}

button:hover {
  box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
  border-radius: 15px;
}

html {
  width: 100%;
  height: 100%;
}
