.about-display {
  display: flex;
  justify-content: space-around !important;
  width: 80%;
  margin: auto !important;
  align-items: flex-start;
  height: 100vh;
  background-color: rgba(246, 244, 241, .9);
  padding-top: 10rem;
}

.photo-display {
  display: flex;
  margin: auto;
  height: 100%;
}

#photographer-photo {
  height: 100%;
  padding-bottom: 5%;
}

.photographer-section {
  margin: 5%;
  font-size: small;
  text-align: justify;
}

.photographer-bio {
  margin-top: 5%;
}