.gallery-display{
  width: 60%;
  margin: auto !important;
  padding-top: 1rem;
  height: 100%;
  background-color: rgba(246, 244, 241, .9);
}

.album-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.album-item {
  text-align: left;
  margin: 1rem;
}

.album-item img{
  height: 20rem;
}

.album-title {
  color: black;
  ;
}